:root {
    --cor-primaria: #1C931C;
    --cor-secundaria: #FF8000;
}
header{
    margin-top: 30px;
    padding-inline: 53px;

}
header .options{
    
    margin-right: 63px;
}
main{
    margin-top: 100px;
    display: flex;
    gap: 26px;
    flex-direction: column;
    padding-inline: 120px;
    
}
.recipe-cards{
    padding: 0;
}
.filter-options{
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    width: 87px;
    height: 46px;
}
.filter-choices{
    position: absolute;
    top: 50px;
    left: 0;
    height: 0px;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    width: 100px;
    transition: 0.8s;
}
.filter-options:hover .filter-choices{
    
    transition: 0.6s;
    width: 400px;
    height: 300px;
}
.filter-options span{
    color: white;
    font-size: 24px;
    font-weight: 300;
}