:root {
    --cor-primaria: #1C931C;
    --cor-secundaria: #FF8000;
}


body{
    padding-inline: 120px;
}
header{
    padding-top: 30px;
}
header .logo{
    padding: 0;
}
header .options{
    margin: 0;
}
.user-info{
    display: flex;
    align-items: end;
    width: 100%;
    height: 100px;
}
.user-info span{
    font-size: 42px;
    color: #FF8000;
}
.user-info span span{
    font-size: 38px;
    color: black;
}
.info-filter{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.info-filter span{
    font-size: 20px;
    color: #FF8000;
}
.info-filter span span{
    font-size: 25px;
    color: black;
}
.user-options{
    display: flex;
    gap: 20px;
}
.user-options .new-recipe{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 180px;
    border-radius: 10px;
    background-color: var(--cor-primaria);
}
.new-recipe span{
    font-size: 18px;
    color: white;
    font-weight: 300;
}
.user-options .filter-options{
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 85px;
    background-color: var(--cor-primaria);
    border-radius: 10px;
}
.user-options .filter-options span{
    font-size: 18px;
    color: white;
    font-weight: 300;
}
.filter-choices{
    position: absolute;
    top: 46px;
    right: 0;
    height: 0px;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    width: 100px;
    transition: 0.8s;
}
.filter-options:hover .filter-choices{
    transition: 0.6s;
    width: 400px;
    height: 300px;
}
.filter-options span{
    color: white;
    font-size: 24px;
    font-weight: 300;
}
.recipe-cards{
    padding: 0;
}

@media screen and (max-width: 1360px) {
    
    .recipe-cards{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
    }
    .recipe-cards .card{
        width: 100%;
    }
  }

@media (max-width: 768px) {
    body{
        padding-inline: 0;
    }
    header .logo img{
        display: none;
    }
    header{
        flex-direction: column;
        text-align: center;
    }
    .options{
        width: 90%;
    }
    .user-info{
        width: 100%;
        padding-left: 15px;
    }
    .user-info span{
        font-size: 30px;
        color: #FF8000;
    }
    .user-info span span{
        font-size: 24px;
        color: black;
    }
    .info-filter{
        flex-direction: column;
        width: 100%;
    }
    
}