@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --cor-primaria: #1C931C;
    --cor-secundaria: #FF8000;
}
.avaliacao-modal {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 2px;
    height: 420px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    border: none;
}

.avaliacao-modal[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.avaliacao-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.avaliacao-modal h1{
    font-size: 30px;
    color: black;
    font-weight: 400;
    margin-bottom: 10px;

}
.avaliacao-feedback{
    width: 100%;
}
.avaliacao-feedback .star{
    height: 60px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.avaliacao-feedback .star:hover {
    transform: scale(1.1);
}

.avaliacao-input {
    width: 100%;
    height: 80px;
    background-color: #F3F3FB;
    font-size: 1.1rem;
    padding: 10px 20px;
    border: none;
    margin-bottom: 20px;
    border-radius: 45px;
    color: black;
    transition: 0.2s;
    outline: 0px solid rgb(0, 190, 0);
    font-family: "Poppins", sans-serif;
}

.avaliacao-input::placeholder {
    color: black;
    opacity: 1;
}

.avaliacao-input:focus{
    transition: 0.5s;
    outline: 5px solid rgb(0, 190, 0);
}
.avaliacao-response{
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 10px;
}
.avaliacao-btn{
    font-size: 16px;
    font-weight: 400;
    height: 51px;
    width: 120px;
    border-radius: 42px;
    background-color: var(--cor-primaria);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s;
    cursor: pointer;
    border: none;
}
.avaliacao-btn:hover{
    transition: 0.2s;
    transform: scale(1.1);
}
.avaliacao-btn:first-child{
    background-color: black;
    color: white;
}