@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --cor-primaria: #1C931C;
    --cor-secundaria: #FF8000;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: var(--cor-primaria);
}
.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    height: 420px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}
.modal h1{
    font-weight: 400;
    margin-bottom: 40px;
    
}
input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    height: 40px;
    line-height: 100%px;
    text-align: center;
}

input::placeholder {
    color: white;
    color: inherit;
    opacity: 1;
    font: inherit;
}
.search-bar input,
button,
textarea,
select {
    font-size: 20px;
    font-weight: 300;
    border: none;
    outline: none;
    border: none;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    height: 40px;
    width: 370px;
    margin-bottom: 20px;
    border-radius: 45px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s;
    outline: 0px solid rgb(0, 190, 0);
}
input:focus{
    transition: 0.5s;
    outline: 5px solid rgb(0, 190, 0);
}
.response{
    display: flex;
    justify-content: center;
    width: 100%;    
    gap: 10%;
}
button{
    font-size: 16px;
    font-weight: 400;
    height: 51px;
    width: 120px;
    border-radius: 42px;
    background-color: var(--cor-primaria);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s;
}
button:hover{
    transition: 0.2s;
    transform: scale(1.1);
}
button:first-child{
    background-color: black;
    color: white;
}