<!DOCTYPE html>
<head>
</head>
<link rel="stylesheet" href="./modal.css">
<title>cadastro-modal</title>
<body>
    <div class="modal">
        <h1>Cadastro</h1>
        <input type="text" placeholder="Gmail" required>
        <input type="text" placeholder="Usuário" required>
        <input type="text" placeholder="Senha" required>
        <div class="response">
            <button>Criar Conta</button>
            <button type="submit">Confirmar</button>
        </div>
        
    </div>
</body>
</html>
