<!DOCTYPE html>

<head>
</head>
<link rel="stylesheet" href="./feedback.css">
<title>login-modal</title>

<body>
    <div class="modal">
        <h1>Avaliação</h1>
        <div class="feedback">
            <img src="../assets/img/Star 5.svg" alt="" class="star">
            <img src="../assets/img/Star 5.svg" alt="" class="star">
            <img src="../assets/img/Star 5.svg" alt="" class="star">
            <img src="../assets/img/Star 5.svg" alt="" class="star">
            <img src="../assets/img/Star 5.svg" alt="" class="star">
        </div>
        <input type="text" placeholder="Descreva sua opinião.." id="user-feedback">
        <div class="response">
            <button>Cancelar</button>
            <button>Enviar</button>
        </div>
    </div>
</body>

</html>